@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jacques+Francois+Shadow&family=Lexend:wght@100..900&family=Pacifico&display=swap');

body {
    color: #ffff;
    background: radial-gradient(circle at top left, rgb(85, 3, 185), rgb(111, 51, 222) 5%, rgb(62, 0, 128) 10%, transparent 30%), #030918;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-size: cover;
    height: 100vh;
    font-family: Exo;
}

.whatsapp-a {
    position: fixed !important;
    left: 9% !important;
    bottom: 2%;
    width: 94px !important;
    height: 94px !important;
    border-radius: 50% !important;

}


.whatsapp-btn {
    padding: 5px 10px;
    /* border: none 1px dotted white; */
    /* border-radius: 3px !important; */
    background-color: transparent !important;
    cursor: pointer !important;
}

.whatsapp-btn:hover {
    border-radius: 3px !important;
}

/* @media (max-width: 759px) {
    .whatsapp-btn {
        margin-left: .5rem !important;
    }
} */